<%- include('partials/header'); %>
    <h1>Home</h1>
    <p><%= homeStartingContent %> </p>
    <% htmlPosts.forEach(htmlPost => { %>
            <% console.log(htmlPost.title) %> 
    <% }) %>
<%- include('partials/footer'); %>